[submodule "vendor/depot_tools"]
	path = vendor/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "requests"]
	path = vendor/requests
	url = git://github.com/kennethreitz/requests.git
[submodule "vendor/brightray"]
	path = vendor/brightray
	url = https://github.com/electron/brightray.git
